{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{% block content %}

<body style="background-color: #825804;">
    <h1 style="margin-top: 5px; text-align: center; color: white;">Cambiando contraseña</h1>
    
    <div style="text-align: center;">
        <p style="margin: auto; color: white;">Usted cambiara de contraseña, necesita ingresar la anterior e ingresar la nueva</p>

        <form action="" method="post"> {% csrf_token %}
            {{form|crispy}}
            <br>

            <input type="submit" class="btn btn-success" style="background-color: antiquewhite; color: black;"></input>
        </form>
    </div>
</body>
{% endblock content %}